body {
    background-color: #f7f4bd;
    margin: 0;
    padding: 0;
}

.section1,
.section2,
.section3,
.section4,
.section5, 
.section6{
    text-align: justify;
    margin-bottom: -15px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding: 10px;
    max-height: none;
    font-family: "brevia", sans-serif;
    font-weight: 700;
    color: #412f2e;
}

.section1 {
    margin-top: 80px;
}

.section6 {
    margin-bottom: 20px;
}

.container {
    background-color: #e67506;
    margin-top: 45px;
    text-align: center;
    height: 200px;
}

.img-votação img {
    display: block;
    height: 150px;
    margin: 62px auto;
    border-color: black;
    border-style: solid;
    border-width: 6px;
    padding-top: 0px;
}

.container-votação {
    background-color: #e67506;
    padding-top: 1px;
    text-align: center;
    height: 350px;
}

.img-votação2 img {
    display: block;
    height: 150px;
    margin: 13px auto;
    border-style: solid;
    border-color: black;
    border-width: 6px;
    padding-top: 0;
}

.container-votação2 {
    background-color: #f7f4bd;
    padding-top: 1px;
    text-align: center;
    height: 316px;
}

.container-votação3 {
    background-color: #e67506;
    padding-top: 1px;
    text-align: center;
    height: 316px;
}

.container-votação4 {
    background-color: #f7f4bd;
    padding-top: 1px;
    text-align: center;
    height: 316px;
}

.container-votação5 {
    background-color: #e67506;
    padding-top: 1px;
    text-align: center;
    height: 316px;
}

.container-votação6 {
    background-color: #f7f4bd;
    padding-top: 1px;
    text-align: center;
    height: 316px;
}

.container-votação7 {
    background-color: #e67506;
    padding-top: 1px;
    text-align: center;
    height: 316px;
}

.container-votação8 {
    background-color: #f7f4bd;
    padding-top: 1px;
    text-align: center;
    height: 316px;
}

.container-votação9 {
    background-color: #e67506;
    padding-top: 1px;
    text-align: center;
    height: 316px;
}

.container-votação10 {
    background-color: #f7f4bd;
    padding-top: 1px;
    text-align: center;
    height: 316px;
}

.container-votação11 {
    background-color: #e67506;
    padding-top: 1px;
    text-align: center;
    height: 316px;
}

.container-votação12 {
    background-color: #f7f4bd;
    padding-top: 1px;
    text-align: center;
    height: 316px;
}

.container-votação13 {
    background-color: #e67506;
    padding-top: 1px;
    text-align: center;
    height: 316px;
}

.container-votação14 {
    background-color: #f7f4bd;
    padding-top: 1px;
    text-align: center;
    height: 316px;
}

.container-votação15 {
    background-color: #e67506;
    padding-top: 1px;
    text-align: center;
    height: 316px;
}

.container-votação16 {
    background-color: #f7f4bd;
    padding-top: 1px;
    text-align: center;
    height: 316px;
}

.container-votação17 {
    background-color: #e67506;
    padding-top: 1px;
    text-align: center;
    height: 316px;
}

.container-rede span a{
    display: block;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    height: 100%; 
    width: 70%;
    border-radius: 30px;
    background-color: #e67506;
    color: aliceblue;
    padding: 40px;
    border-radius: 30px;
    text-decoration: none;
    font-family: "brevia", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.redes{
    padding-top: 60px;
}

.redesfinal{
    padding-bottom: 50px;
}

.bobesponja {
    padding-top: 30px;
    background-position: center center;
    background-repeat: no-repeat;
    height: 150px;
}

img {
    height: 300px;
    padding-top: 10px;
}

.menu {
    text-align: center;
    padding: 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    margin: 0;
    background-color: #a13d16;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu li {
    display: inline-block;
}

.menu a {
    background-color: #a13d16;
    padding: 16px;
    display: inline-block;
    color: aliceblue;
    text-decoration: none;
    font-size: 12px; 
    font-family: "brevia", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}

.menu-votação {
    text-align: center;
    padding: 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    margin: 0;
    background-color: #a13d16;
}

.menu-votação ul {
    list-style: none;
    padding: 0;
}

.menu-votação li {
    display: inline-block;
}

.menu-votação a {
    background-color: #a13d16;
    padding: 16px;
    display: inline-block;
    color: aliceblue;
    text-decoration: none;
    font-family: "brevia", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    font-size: 12px; 
}

.menu-votação {
    text-align: left;
}

.menu-allmemes {
    text-align: center;
    padding: 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    margin: 0;
    background-color: #a13d16;
}

.menu-allmemes ul {
    list-style: none;
    padding: 0;
}

.menu-allmemes li {
    display: inline-block;
}

.menu-allmemes a {
    background-color: #a13d16;
    padding: 16px;
    display: inline-block;
    color: aliceblue;
    text-decoration: none;
    font-family: "brevia", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    font-size: 12px; 
}

.menu-allmemes {
    text-align: left;
}

.botão-grafico{
    margin-top: -180px;
    text-align: center;
}

.botão-grafico a{
    font-size: 19px;
    color: aliceblue;
    text-decoration: none;
    text-align: center;
    background-color: #412f2e;
    border-radius: 38px;
    padding: 15px 48px 15px 48px;
    font-family: "brevia", sans-serif;
    font-weight: 200px;
    font-style: normal;
}

.botão {
    margin-top: 20px;
    text-align: center;
}

.botão a {
    font-size: 19px;
    color: aliceblue;
    text-decoration: none;
    text-align: center;
    background-color: #412f2e;
    border-radius: 38px;
    padding: 15px 48px 15px 48px;
    line-height: 40px;
    font-family: "brevia", sans-serif;
    font-weight: 200px;
    font-style: normal;
}

.footer-saibamais {
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto;
    font-size: 16px;
    text-align: center;
    background-color: black;
    color: aliceblue;
    padding: 3px 0 9px 0;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: auto;
    font-size: 16px;
    text-align: center;
    background-color: black;
    color: aliceblue;
    padding: 3px 0 9px 0;
}

p {
    margin-top: 160px;
    margin-bottom: -6px;
    bottom: 0;
    padding: 0;
    text-align: center;
    font-size: 34px;
    font-family: "brevia", sans-serif;
    font-weight: 700;
    font-style: italic;
    color: #412f2e;
}

.favorito {
    margin-top: 0;
    margin-left: auto;
    text-transform: uppercase;
}

#chart-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    height: 100vh;
    margin: 0;
}

.line-chart {
    max-width: 70%;
    width: 100%;
    height: 100%;
    margin-top: 100px;
}

table{
    margin: auto;
    margin-top: 40px;
    width: 100%;
    font-size: 30px;
    text-align: center;
    border-collapse: collapse;
    border: none
}

thead{
    background-color: #e67506;
}

.trcolor{
    background-color: #e67506;
}

.footer-allmemes{
    position: relative;
}

.botão-votar a{
    font-size: 29px;
    color: aliceblue;
    text-decoration: none;
    text-align: center;
    background-color: #412f2e;
    border-radius: 38px;
    padding: 8px 28px 10px 28px;
    line-height: 40px;
    position: relative;
    top: -20px;
    
}

.botão-votar2 a{
    font-size: 29px;
    color: aliceblue;
    text-decoration: none;
    text-align: center;
    background-color: #412f2e;
    border-radius: 38px;
    padding: 8px 28px 10px 28px;
    line-height: 40px;
    position: relative;
    top: 40px;
}

.saibamais-topo{
    margin-top: -8px;
}